* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MuseoSans-300';
    src: url('../assets/fonts/MuseoSans-300.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'MuseoSans-500';
    src: url('../assets/fonts/MuseoSans-500.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'MuseoSans-700';
    src: url('../assets/fonts/MuseoSans-700.ttf');
    font-weight: 700;
}

body {
    font-family: MuseoSans-300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Menu*/

.container__menu {
    width: 100%;
}

.alert {
    width: 100%;
    height: 40px;
    background: #EBA904;
}

.alert__text {
    color: #fff;
    font-size: 11px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__logo {
    width: 40%;
}

.navbar__logo img {
    width: 110px;
}

.navbar__menu {
    display: none;
}

.navbar__icons {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}
.icons {
    width: 25px;
    height: 25px;
} 

.icon__menu {
    margin-left: 9px;
}

.logo {
    text-align: center;
    margin: 10px auto;
}

.logo img {
    width: 90px;
}

.baner {
    width: 100%;
    margin-bottom: 30px;
}

.baner img {
    width: 100%;
}

.container__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.recipe:last-child {
    flex-direction: column-reverse;
    margin-top: 50px;
}

.recipe__img img{
    width: 100%;
}

.recipe__text {
    text-align: center;
    margin: 15px 0;
}

.recipe__text__paragraph {
    color: #666;
    margin: 20px 0px;
    font-size: 0.8em;
}

.recipe__text__link {
    color: inherit;
    font-size: 0.7em;
    text-transform: uppercase;
    font-family: MuseoSans-700;
}

.link {
    display: inline-block;
}

.line {
    width: 30px;
    height: 1px;
    background:#EBA904;
    margin-top: 3px;
}

.container__info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.questions {
    margin-bottom: 40px;
}

.questions__item {
    margin-bottom: 15px;
}

.questions__item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: MuseoSans-700;
}

.questions__item__title span {
    font-size: 1.5em;
}

.questions__line {
    margin-top: 4px;
    width: 100%;
    height: 1px;
    background: #999;
}

.questions__item__text {
    font-size: 0.9em;
    color: #666;
}

.personage {
    margin-bottom: 70px;
}

.personage__title {
    margin-bottom: 10px;
}

.personage__info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.personage__text {
    font-family: MuseoSans-700;
    margin: 10px 0;
}

.personage__text span{
    font-family: MuseoSans-500;
}

.personage__episodes__list li{
    font-size: 0.8em;
    margin: 10px 0;
}